// sass-lint:disable no-vendor-prefixes
%unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
// sass-lint:enable no-vendor-prefixes

%animation {
  transition: $animate-duration;
}

%reset-curve {
  border-radius: 0;
}

%top-big-curve {
  border-radius: 0;
  border-top-left-radius: $layout-big-curve;
  border-top-right-radius: $layout-big-curve;
}

%bottom-big-curve {
  border-radius: 0;
  border-bottom-right-radius: $layout-big-curve;
  border-bottom-left-radius: $layout-big-curve;
}

%big-curve {
  border-radius: $layout-big-curve;
}

%small-curve {
  border-radius: $layout-small-curve;
}

%main-box-shadow {
  box-shadow: $main-box-shadow;
}

%interactive-item {
  cursor: pointer;
}
