.animation {
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

.datepicker-container {
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: tahoma;
  font-size: 12px;
}

.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}

.button-hover {
  background-color: #e5e5e5;
}

.date-item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}

.date-item-disable {
  color: #ddd;
  background-color: #f9f9f9;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.date-item-today {
  font-size: 14px;
  background-color: #333;
  color: #fff;
}

.date-item-selected {
  background-color: #006dcc !important;
  border-color: #002a80;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}

.date-item-hover {
  background-color: #eeeeee;
}

/*
    Timepicker
*/
.timepicker-box {
  background: #f6f6f6;
  border-top: 1px solid #f1f1f1;
}

.timepicker-segment {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.timepicker-segment-divider {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.timepicker-btn {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  background: #f1f1f1;
  color: #bbbbbb;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  &:hover {
    background: #cccccc;
    color: #ffffff;
  }
}

.timepicker-down-btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.timepiker-input {
  border: none;
  background: #f9f9f9;
  text-align: center;
  cursor: pointer;
}