@import "default-theme";

/* Reset Public Style */
.datepicker-plot-area {
  table,
  th,
  td {
    border: none;
    background: none;
  }
  box-sizing: border-box;
  overflow: hidden;
  min-height: 70px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: block;
  width: 200px;
  padding: 0px 5px 0px 5px;
  position: absolute;
  top: 100px;
  @extend .datepicker-container;
}

.datepicker-plot-area-inline-view {
  display: block;
  width: 100%;
  position: static;
  float: left;
}

.datepicker-plot-area .datepicker-header {
  display: block;
  width: 98%;
  height: 30px;
  float: left;
  padding: 3px 1% 0px 1%;
}

.datepicker-plot-area .datepicker-header {
  .btn-next,
  .btn-switch,
  .btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    @extend .button;
    &:hover {
      @extend .button-hover;
    }
  }
  .btn-next {
    display: block;
    width: 15%;
    float: left;
  }
  .btn-switch {
    display: block;
    width: 66%;
    margin: 0px 2% 0px 2%;
    float: left;
  }
  .btn-prev {
    display: block;
    width: 15%;
    float: left;
  }
}

.datepicker-plot-area {
  .datepicker-day-view,
  .datepicker-month-view,
  .datepicker-year-view {
    display: block;
    width: 98%;
    float: left;
    min-height: 200px !important;
    margin: 0px 1% 0px 1%;
  }
}

/*-------------------------------------------------------------------   Toolbox view ---------------------*/

.datepicker-plot-area .toolbox {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  text-align: center;
  margin-top: 5px;
  .btn-today {
    display: block;
    width: 60px;
    height: 16px;
    line-height: 16px;
    margin: 2px auto 2px auto;
    font-size: 10px;
    cursor: pointer;
    &:hover {
      @extend .button-hover;
    }
  }
}

/*-------------------------------------------------------------------   Year And Month view ---------------------*/

.datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item {
  display: block;
  width: 31%;
  margin: 2px 1% 0px 1%;
  float: right;
  text-align: center;
  height: 36px;
  line-height: 34px;
  cursor: pointer;
  @extend .date-item;
}

.datepicker-plot-area .datepicker-year-view .year-item-disable,
.datepicker-plot-area .datepicker-month-view .month-item-disable {
  @extend .date-item-disable;
}

.datepicker-plot-area .datepicker-year-view .year-item:hover,
.datepicker-plot-area .datepicker-month-view .month-item:hover {
  @extend .date-item-hover;
}

.datepicker-plot-area .datepicker-year-view .year-item.selected,
.datepicker-plot-area .datepicker-month-view .month-item.selected {
  @extend .date-item-selected;
}

.datepicker-plot-area .datepicker-day-view
.datepicker-plot-area .datepicker-day-view .month-grid-box {
  display: block;
  width: 100%;
  float: right;
  min-width: 150px;
  height: 180px;
  margin: 10px 1% 5px 1%;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header {
  display: block;
  width: 100%;
  height: 30px;
  float: left;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .title {
  display: block;
  width: 100%;
  height: 3px;
  line-height: 25px;
  text-align: center;
  direction: rtl;
  font-size: 14px;
  font-weight: bold;
}

.datepicker-plot-area .month-grid-box .header .header-row {
  display: block;
  width: 100%;
  height: 25px;
  float: left;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
  display: block;
  width: 14%;
  height: 25px;
  float: right;
  line-height: 25px;
  text-align: center;
  text-indent: 6px;
  direction: rtl;
  font-size: 13px;
  font-weight: bold;
}

/*-------------------------------------------------------------------   Date view ---------------------*/

.datepicker-plot-area .datepicker-day-view .table-days {
  width: 100%;
  float: left;
  direction: rtl;
}

.datepicker-plot-area .datepicker-day-view .table-days tr {
  width: 300px;
}

.datepicker-plot-area .datepicker-day-view .table-days td {
  height: 26px;
  padding: 0px;
  margin: 0px;
}

.datepicker-plot-area .datepicker-day-view .table-days td span:hover {
  @extend .date-item-hover;
}

.datepicker-plot-area .datepicker-day-view .table-days td span {
  display: block;
  width: 100%;
  height: 26px;
  line-height: 26px;
  padding: 0px;
  margin: 0px;
  @extend .date-item;
}

.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
  color: #ccc;
}

.datepicker-plot-area .datepicker-day-view .table-days td span.today {
  @extend .date-item-today;
}

.datepicker-plot-area .datepicker-day-view .table-days td.disabled span {
  @extend .date-item-disable
}

.datepicker-plot-area .datepicker-day-view .table-days td span.selected {
  @extend .date-item-selected;
}

/*-------------------------------------------------------------------   Time view ---------------------*/
.datepicker-plot-area .datepicker-time-view {
  display: block;
  float: left;
  width: 98%;
  padding: 5px 1%;
  margin: 0px;
  height: 60px;
  @extend .timepicker-box;
  & > div.time-segment {
    display: block;
    width: 22%;
    height: 60px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    @extend .timepicker-segment;
    &:hover .down-btn,
    &:hover .up-btn {
      @extend .button-hover;
      @extend .animation;
    }
  }
  & > .divider {
    display: block;
    width: 3%;
    height: 60px;
    line-height: 60px;
    float: left;
    overflow: hidden;
    @extend .timepicker-segment-divider;
  }
  .down-btn,
  .up-btn {
    display: block;
    float: left;
    width: 100%;
    margin: 0px 0%;
    height: 20px;
    line-height: 18px;
    @extend .timepicker-btn;
  }
  .down-btn {
    @extend .timepicker-down-btn;
  }
  input {
    display: block;
    width: 90%;
    margin: 0px 5%;
    height: 20px;
    padding: 0px;
    @extend .timepiker-input;
  }
}


