/* Reset Public Style */
.datepicker-plot-area table,
.datepicker-plot-area th,
.datepicker-plot-area td {
  border: none !important;
}

.datepicker-plot-area {
  box-sizing: content-box;
  font-size: 12px;
  font-family: tahoma;
  overflow: hidden;
  min-height: 70px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: block;
  width: 200px;
  padding: 0px 5px 0px 5px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  top: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-family: tahoma;
  font-size: 12px;
}

.datepicker-plot-area-inline-view {
  display: block;
  width: 100%;
  position: static;
  float: left;
}

.datepicker-plot-area .datepicker-header {
  display: block;
  width: 98%;
  height: 30px;
  float: left;
  padding: 3px 1% 0px 1%;
}

.datepicker-plot-area .datepicker-header .btn-next,
.datepicker-plot-area .datepicker-header .btn-switch,
.datepicker-plot-area .datepicker-header .btn-prev {
  display: block;
  float: left;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.datepicker-plot-area .datepicker-day-view .datepicker-header .btn-switch:hover,
.datepicker-plot-area .datepicker-month-view .datepicker-header .btn-switch:hover,
.datepicker-plot-area .datepicker-header .btn-next:hover,
.datepicker-plot-area .datepicker-header .btn-prev:hover {
  background-color: #e5e5e5;
}

.datepicker-plot-area .datepicker-header .btn-next {
  display: block;
  width: 15%;
  float: left;
}

.datepicker-plot-area .datepicker-header .btn-switch {
  display: block;
  width: 66%;
  margin: 0px 2% 0px 2%;
  float: left;

}

.datepicker-plot-area .datepicker-header .btn-prev {
  display: block;
  width: 15%;
  float: left;
}

.datepicker-plot-area .datepicker-day-view,
.datepicker-plot-area .datepicker-month-view,
.datepicker-plot-area .datepicker-year-view {
  display: block;
  width: 98%;
  float: left;
  min-height: 200px !important;
  margin: 0px 1% 0px 1%;
}

/*-------------------------------------------------------------------   Toolbox view ---------------------*/

.datepicker-plot-area .toolbox {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  text-align: center;
  margin-top: 5px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.datepicker-plot-area .toolbox .btn-today {
  display: block;
  width: 60px;
  height: 16px;
  line-height: 16px;
  margin: 2px auto 2px auto;
  font-size: 10px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.datepicker-plot-area .toolbox .btn-today:hover {
  background-color: #e5e5e5;
}

/*-------------------------------------------------------------------   Montyh view ---------------------*/

.datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item {
  display: block;
  width: 31%;
  margin: 2px 1% 0px 1%;
  float: right;
  text-align: center;
  height: 36px;
  line-height: 34px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}


.datepicker-plot-area .datepicker-year-view .year-item-disable,
.datepicker-plot-area .datepicker-month-view .month-item-disable{
  color:#cccccc;
  cursor: default;
}

.datepicker-plot-area .datepicker-year-view .year-item:hover,
.datepicker-plot-area .datepicker-month-view .month-item:hover {
  background-color: #eeeeee;
}

.datepicker-plot-area .datepicker-year-view .year-item.selected,
.datepicker-plot-area .datepicker-month-view .month-item.selected {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  //	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  //	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: white;
}

.datepicker-plot-area .datepicker-day-view
.datepicker-plot-area .datepicker-day-view .month-grid-box {
  display: block;
  width: 100%;
  float: right;
  min-width: 150px;
  height: 180px;
  margin: 10px 1% 5px 1%;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header {
  display: block;
  width: 100%;
  height: 30px;
  float: left;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .title {
  display: block;
  width: 100%;
  height: 3px;
  line-height: 25px;
  text-align: right;
  direction: rtl;
  text-indent: 5px;
  color: #2c2c2c;
  font-size: 14px;
  font-weight: bold;
}

.datepicker-plot-area .month-grid-box .header .header-row {
  display: block;
  width: 100%;
  height: 25px;
  float: left;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
  display: block;
  width: 14%;
  height: 25px;
  float: right;
  line-height: 25px;
  text-align: center;
  text-indent: 6px;
  direction: rtl;
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

.datepicker-plot-area .datepicker-day-view .table-days {
  width: 100%;
  float: left;
  direction: rtl;
}

.datepicker-plot-area .datepicker-day-view .table-days tr {
  width: 300px;
}

.datepicker-plot-area .datepicker-day-view .table-days td {
  height: 26px;
  padding: 0px;
  margin: 0px;

}

.datepicker-plot-area .datepicker-day-view .table-days td span:hover {
  background-color: #EEEEF4;
}

.datepicker-plot-area .datepicker-day-view .table-days td span {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
  color: #ccc;
}

.datepicker-plot-area .datepicker-day-view .table-days td span.today {
  font-size: 14px;
  background-color: #333;
  color: #fff;
}

.datepicker-plot-area .datepicker-day-view .table-days td.disabled span{
  color: #ccc;
}


.datepicker-plot-area .datepicker-day-view .table-days td span.selected {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  //	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  //	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
  //      filter: dropshadow(color=#000000, offx=1, offy=1);
}

.datepicker-plot-area .datepicker-day-view .busy-day,
.datepicker-plot-area .datepicker-day-view .table-days td span.busy-day {
  color: #FFF;
  background: rgb(255, 48, 25); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 48, 25, 1)), color-stop(100%, rgba(207, 4, 4, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* W3C */
  //	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.datepicker-plot-area .datepicker-day-view .normal-day,
.datepicker-plot-area .datepicker-day-view .table-days td span.normal-day {
  color: #FFF;
  background: rgb(210, 255, 82); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(100%, rgba(145, 232, 66, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%); /* W3C */
  //	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}

.datepicker-plot-area .datepicker-day-view .orange-day,
.datepicker-plot-area .datepicker-day-view .table-days td span.orange-day {
  color: #FFF;
  background: rgb(255, 103, 15); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 103, 15, 1) 0%, rgba(255, 103, 15, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 103, 15, 1)), color-stop(100%, rgba(255, 103, 15, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 103, 15, 1) 0%, rgba(255, 103, 15, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 103, 15, 1) 0%, rgba(255, 103, 15, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 103, 15, 1) 0%, rgba(255, 103, 15, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 103, 15, 1) 0%, rgba(255, 103, 15, 1) 100%); /* W3C */
  //	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */
}

.datepicker-plot-area .datepicker-day-view .work-day,
.datepicker-plot-area .datepicker-day-view .table-days td span.work-day {
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefcea), color-stop(100%, #f1da36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%); /* W3C */
  //	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

}

// Timepicker
//////////////

.datepicker-plot-area .datepicker-time-view {
  display: block;
  float: left;
  width: 98%;
  padding: 5px 1%;
  margin:0px;
  height: 60px;
  background: #f6f6f6;
  border-top: 1px solid #f1f1f1;
  & > div.time-segment {
    display: block;
    width: 22%;
    height: 60px;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    &:hover .down-btn,
    &:hover .up-btn {
      background: #ccc;
      -webkit-transition: all 100ms ease;
      -moz-transition: all 100ms ease;
      -ms-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      transition: all 100ms ease;
    }
  }
  & > .divider {
    display: block;
    width: 3%;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    float: left;
    overflow: hidden;
  }
  .down-btn,
  .up-btn {
    display: block;
    float: left;
    width: 100%;
    margin: 0px 0%;
    height: 20px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    background: #f1f1f1;
    color: #bbbbbb;
    font-weight: bold;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .down-btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .down-btn:hover,
  .up-btn:hover {
    background: #cccccc;
    color: #ffffff;
  }
  input {
    display: block;
    width: 90%;
    margin: 0px 5%;
    border: none;
    background: #f9f9f9;
    height: 20px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
  }
}


