.animation, .datepicker-plot-area .datepicker-time-view > div.time-segment:hover .down-btn, .datepicker-plot-area .datepicker-time-view > div.time-segment:hover .up-btn {
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }

.datepicker-container, .datepicker-plot-area {
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: tahoma;
  font-size: 12px; }

.button, .datepicker-plot-area .datepicker-header .btn-next,
.datepicker-plot-area .datepicker-header .btn-switch,
.datepicker-plot-area .datepicker-header .btn-prev {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer; }

.button-hover, .datepicker-plot-area .datepicker-header .btn-next:hover,
.datepicker-plot-area .datepicker-header .btn-switch:hover,
.datepicker-plot-area .datepicker-header .btn-prev:hover, .datepicker-plot-area .toolbox .btn-today:hover, .datepicker-plot-area .datepicker-time-view > div.time-segment:hover .down-btn, .datepicker-plot-area .datepicker-time-view > div.time-segment:hover .up-btn {
  background-color: #e5e5e5; }

.date-item, .datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-day-view .table-days td span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 12px; }

.date-item-disable, .datepicker-plot-area .datepicker-year-view .year-item-disable,
.datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-day-view .table-days td.disabled span {
  color: #ddd;
  background-color: #f9f9f9;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.date-item-today, .datepicker-plot-area .datepicker-day-view .table-days td span.today {
  font-size: 14px;
  background-color: #333;
  color: #fff; }

.date-item-selected, .datepicker-plot-area .datepicker-year-view .year-item.selected,
.datepicker-plot-area .datepicker-month-view .month-item.selected, .datepicker-plot-area .datepicker-day-view .table-days td span.selected {
  background-color: #006dcc !important;
  border-color: #002a80;
  color: #fff;
  text-shadow: 1px 1px 1px #000000; }

.date-item-hover, .datepicker-plot-area .datepicker-year-view .year-item:hover,
.datepicker-plot-area .datepicker-month-view .month-item:hover, .datepicker-plot-area .datepicker-day-view .table-days td span:hover {
  background-color: #eeeeee; }

/*
    Timepicker
*/
.timepicker-box, .datepicker-plot-area .datepicker-time-view {
  background: #f6f6f6;
  border-top: 1px solid #f1f1f1; }

.timepicker-segment, .datepicker-plot-area .datepicker-time-view > div.time-segment {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.timepicker-segment-divider, .datepicker-plot-area .datepicker-time-view > .divider {
  font-size: 12px;
  text-align: center;
  font-weight: bold; }

.timepicker-btn, .datepicker-plot-area .datepicker-time-view .down-btn,
.datepicker-plot-area .datepicker-time-view .up-btn {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  background: #f1f1f1;
  color: #bbbbbb;
  font-weight: bold;
  font-size: 12px;
  text-align: center; }
  .timepicker-btn:hover, .datepicker-plot-area .datepicker-time-view .down-btn:hover,
  .datepicker-plot-area .datepicker-time-view .up-btn:hover {
    background: #cccccc;
    color: #ffffff; }

.timepicker-down-btn, .datepicker-plot-area .datepicker-time-view .down-btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.timepiker-input, .datepicker-plot-area .datepicker-time-view input {
  border: none;
  background: #f9f9f9;
  text-align: center;
  cursor: pointer; }

/* Reset Public Style */
.datepicker-plot-area {
  box-sizing: border-box;
  overflow: hidden;
  min-height: 70px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: block;
  width: 200px;
  padding: 0px 5px 0px 5px;
  position: absolute;
  top: 100px; }
  .datepicker-plot-area table,
  .datepicker-plot-area th,
  .datepicker-plot-area td {
    border: none;
    background: none; }

.datepicker-plot-area-inline-view {
  display: block;
  width: 100%;
  position: static;
  float: left; }

.datepicker-plot-area .datepicker-header {
  display: block;
  width: 98%;
  height: 30px;
  float: left;
  padding: 3px 1% 0px 1%; }

.datepicker-plot-area .datepicker-header .btn-next,
.datepicker-plot-area .datepicker-header .btn-switch,
.datepicker-plot-area .datepicker-header .btn-prev {
  display: block;
  float: left;
  height: 28px;
  line-height: 28px; }
.datepicker-plot-area .datepicker-header .btn-next {
  display: block;
  width: 15%;
  float: left; }
.datepicker-plot-area .datepicker-header .btn-switch {
  display: block;
  width: 66%;
  margin: 0px 2% 0px 2%;
  float: left; }
.datepicker-plot-area .datepicker-header .btn-prev {
  display: block;
  width: 15%;
  float: left; }

.datepicker-plot-area .datepicker-day-view,
.datepicker-plot-area .datepicker-month-view,
.datepicker-plot-area .datepicker-year-view {
  display: block;
  width: 98%;
  float: left;
  min-height: 200px !important;
  margin: 0px 1% 0px 1%; }

/*-------------------------------------------------------------------   Toolbox view ---------------------*/
.datepicker-plot-area .toolbox {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  text-align: center;
  margin-top: 5px; }
  .datepicker-plot-area .toolbox .btn-today {
    display: block;
    width: 60px;
    height: 16px;
    line-height: 16px;
    margin: 2px auto 2px auto;
    font-size: 10px;
    cursor: pointer; }

/*-------------------------------------------------------------------   Year And Month view ---------------------*/
.datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item {
  display: block;
  width: 31%;
  margin: 2px 1% 0px 1%;
  float: right;
  text-align: center;
  height: 36px;
  line-height: 34px;
  cursor: pointer; }

.datepicker-plot-area .datepicker-day-view
.datepicker-plot-area .datepicker-day-view .month-grid-box {
  display: block;
  width: 100%;
  float: right;
  min-width: 150px;
  height: 180px;
  margin: 10px 1% 5px 1%; }

.datepicker-plot-area .datepicker-day-view .month-grid-box .header {
  display: block;
  width: 100%;
  height: 30px;
  float: left; }

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .title {
  display: block;
  width: 100%;
  height: 3px;
  line-height: 25px;
  text-align: center;
  direction: rtl;
  font-size: 14px;
  font-weight: bold; }

.datepicker-plot-area .month-grid-box .header .header-row {
  display: block;
  width: 100%;
  height: 25px;
  float: left; }

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
  display: block;
  width: 14%;
  height: 25px;
  float: right;
  line-height: 25px;
  text-align: center;
  text-indent: 6px;
  direction: rtl;
  font-size: 13px;
  font-weight: bold; }

/*-------------------------------------------------------------------   Date view ---------------------*/
.datepicker-plot-area .datepicker-day-view .table-days {
  width: 100%;
  float: left;
  direction: rtl; }

.datepicker-plot-area .datepicker-day-view .table-days tr {
  width: 300px; }

.datepicker-plot-area .datepicker-day-view .table-days td {
  height: 26px;
  padding: 0px;
  margin: 0px; }

.datepicker-plot-area .datepicker-day-view .table-days td span {
  display: block;
  width: 100%;
  height: 26px;
  line-height: 26px;
  padding: 0px;
  margin: 0px; }

.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
  color: #ccc; }

/*-------------------------------------------------------------------   Time view ---------------------*/
.datepicker-plot-area .datepicker-time-view {
  display: block;
  float: left;
  width: 98%;
  padding: 5px 1%;
  margin: 0px;
  height: 60px; }
  .datepicker-plot-area .datepicker-time-view > div.time-segment {
    display: block;
    width: 22%;
    height: 60px;
    float: left;
    overflow: hidden;
    cursor: pointer; }
  .datepicker-plot-area .datepicker-time-view > .divider {
    display: block;
    width: 3%;
    height: 60px;
    line-height: 60px;
    float: left;
    overflow: hidden; }
  .datepicker-plot-area .datepicker-time-view .down-btn,
  .datepicker-plot-area .datepicker-time-view .up-btn {
    display: block;
    float: left;
    width: 100%;
    margin: 0px 0%;
    height: 20px;
    line-height: 18px; }
  .datepicker-plot-area .datepicker-time-view input {
    display: block;
    width: 90%;
    margin: 0px 5%;
    height: 20px;
    padding: 0px; }

/*# sourceMappingURL=persian-datepicker.css.map */
