/* Color
-------------------------------*/
$white: #1A3347;
$dark: #ffffff;
$gray:#00AAE2;
$light-gray: #0095C6;
$ultra-light-gray:#204B6E;
$super-light-gray: #204B6E;
$today-color: #0085B2;

/* Font Style & text
-------------------------------*/
$main-font: 12px tahoma;
$big-font: 14px tahoma;
$small-font: 10px tahoma;
$strong-font: bold;
$super-strong-font: bold;

$global-text-color: $dark;

/*
-------------------------------*/
$global-text-align: center;
$layout-big-curve: 6px;
$layout-small-curve: 3px;
$main-box-shadow: none;
$animate-duration: all 100ms ease;

/* Plot area
-------------------------------*/
$plot-area-bg: $white;
$plot-area-border: none;

/* Bottom
-------------------------------*/
$bottom-bg: $white;
$bottom-bg-hover: $light-gray;
$bottom-text-color: $dark;

/* Date Item
-------------------------------*/
$date-item-font: 14px;
$date-item-bg: $white;
$date-item-border: 0px;
$date-item-color: $dark;
$date-item-text-shadow: none;

$date-item-hover-font: 14px;
$date-item-hover-bg: $light-gray;
$date-item-hover-border: 0px;
$date-item-hover-color: $dark;
$date-item-hover-text-shadow: none;

$date-item-today-bg: $dark;
$date-item-today-border: 0px;
$date-item-today-color: $white;
$date-item-today-text-shadow: none;

$date-item-selected-bg: $today-color !important;
$date-item-selected-border: none;
$date-item-selected-color: $white !default;
$date-item-selected-text-shadow: 1px 1px 1px #000000;

$date-item-numb-bg: "";
$date-item-numb-border: none;
$date-item-numb-color: $gray;
$date-item-numb-text-shadow: none;

$date-item-disable-bg: $ultra-light-gray !important;
$date-item-disable-border: none !important;
$date-item-disable-color: $gray !important;
$date-item-disable-text-shadow: none !important;

/* Tiomepicker
-------------------------------*/
$timepicker-border: 1px solid $ultra-light-gray;
$timepicker-bg: $super-light-gray;

$timepicker-segment-divider-font: 12px bold;
$timepicker-input-bg: $super-light-gray;
$timepicker-input-border: none;




