
.datepicker-plot-area {
  .datepicker-day-view {
    .table-days {
      width: 100%;
      float: left;
      direction: rtl;

      tr {
        width: 300px;
      }

      td {
        height: 26px;
        padding: 0;
        margin: 0;
        position: relative;

        &.disabled {
          span {
            @extend %date-item-disable
          }
        }

        &.selected span {
          @extend %date-item-selected;

          &:hover {
            @extend %date-item-hover;
          }
        }

        &.today span {
          @extend %date-item-today;
        }

        .alter-calendar-day {
          position: absolute;
          font-size: 8px;
          bottom: 0;
          right: 5px;
          color: #f1f1f1;
        }

        span {
          display: block;
          width: 100%;
          height: 26px;
          line-height: 26px;
          padding: 0;
          margin: 0;
          @extend %date-item;

          &.other-month {
            @extend %date-item-numb;
          }

          &:hover {
            @extend %date-item-hover;
          }

        }
      }
    }

    .month-grid-box {
      display: block;
      width: 100%;
      float: right;
      min-width: 150px;
      height: 180px;
      margin: 10px 0;

      .header {

        .header-row {
          display: block;
          width: 100%;
          height: 25px;
          float: left;
        }

        .header-row-cell {
          display: block;
          width: 14%;
          height: 25px;
          float: right;
          line-height: 25px;
          text-indent: 6px;
          font: $big-font;
          font-weight: $strong-font;
          color: $dark;
        }
      }
    }
  }
}



