.datepicker-plot-area {
  .datepicker-header {
    display: block;
    width: 100%;
    height: 30px;
    float: left;
    padding: 3px 0 0;
    margin-bottom: 8px;

    .btn-next,
    .btn-switch,
    .btn-prev {
      display: block;
      float: left;
      height: 28px;
      line-height: 28px;
      font-weight: $strong-font;
      background-color: $bottom-bg;
      color: $bottom-text-color;
      @extend %interactive-item;
      padding: 0;

      &:hover {
        background-color: $bottom-bg-hover;
      }
    }

    .btn-next {
      display: block;
      width: 15%;
      float: left;
    }

    .btn-switch {
      display: block;
      width: 66%;
      margin: 0 2%;
      float: left;
    }

    .btn-prev {
      display: block;
      width: 15%;
      float: left;
    }
  }
}
