.datepicker-plot-area {
  table,
  th,
  td {
    border: none;
    background: none;
  }
  box-sizing: border-box;
  overflow: hidden;
  min-height: 70px;
  display: block;
  width: 200px;
  padding: 0px 5px 0px 5px;
  position: absolute;
  top: 100px;

  font: $main-font;
  border: $plot-area-border;
  background-color: $plot-area-bg;
  @extend .big-curve;
  @extend .main-box-shadow;
  @extend .unselectable;
  * {
    text-align: $global-text-align;
    color: $global-text-color;
  }
}

.datepicker-plot-area-inline-view {
  display: block;
  width: 100%;
  position: static;
  float: left;
}

.datepicker-plot-area {
  .datepicker-day-view,
  .datepicker-month-view,
  .datepicker-year-view {
    display: block;
    width: 98%;
    float: left;
    min-height: 200px !important;
    margin: 0px 1% 0px 1%;
  }
}