.datepicker-container {
  position: absolute;
  z-index: 100000;
  top: 0;
}

.datepicker-plot-area {
  box-sizing: border-box;
  overflow: hidden;
  min-height: 70px;
  display: block;
  width: 200px;
  min-width: 200px;
  padding: 0 5px;
  position: absolute;
  font: $main-font;
  border: $plot-area-border;
  background-color: $plot-area-bg;
  @extend %big-curve;
  @extend %main-box-shadow;
  @extend %unselectable;

  table,
  th,
  td {
    border: 0;
    background: none;
  }

  * {
    text-align: $global-text-align;
    color: $global-text-color;
  }

  .datepicker-day-view,
  .datepicker-month-view,
  .datepicker-year-view {
    display: block;
    width: 100%;
    float: left;
    min-height: 200px;
    margin: 0;
  }
}

.datepicker-plot-area-inline-view {
  display: block;
  width: 100%;
  position: static;
  float: left;
}
