.datepicker-plot-area {
  .datepicker-time-view {
    display: block;
    float: left;
    width: 100%;
    padding: 5px 1%;
    margin: 3px 0;
    background: $timepicker-bg;
    border-top: $timepicker-border;

    & > .time-segment {
      display: block;
      width: 22%;
      height: 60px;
      float: left;
      overflow: hidden;
      @extend %interactive-item;
      @extend %big-curve;

      &:hover {
        .down-btn,
        .up-btn {
          font-weight: $strong-font;
          background-color: $button-bg;

        }
      }

    }

    & .divider {
      display: block;
      width: 3%;
      height: 60px;
      line-height: 60px;
      float: left;
      overflow: hidden;
      font: $timepicker-segment-divider-font;

      span {
        height: 60px;
        line-height: 60px;
      }
    }

    .down-btn,
    .up-btn {
      display: block;
      float: left;
      width: 100%;
      margin: 0;
      height: 20px;
      line-height: 18px;
      color: $timepicker-btn-color;
      @extend %top-big-curve;
      @extend %interactive-item;
      @extend %animation;

      &:hover {
        background-color: $button-bg-hover;
        color: $timepicker-btn-hover-color;
      }

    }

    .down-btn {
      @extend %bottom-big-curve;
    }

    input {
      display: block;
      width: 90%;
      margin: 0 5%;
      height: 20px;
      padding: 0;
      outline: none;
      @extend %interactive-item;
      border: $timepicker-input-border;
      background: $timepicker-input-bg;
    }
  }

  &.datepicker-state-no-meridiem {
    .datepicker-time-view {
      & > .time-segment {
        width: 31%;
      }

      & > .meridian-divider{
        display: none;
      }

    }
  }
}
