.datepicker-plot-area {
  .toolbox {
    display: block;
    float: left;
    padding: 3px 0;
    width: 100%;

    .btn-calendar,
    .btn-today {
      @extend %interactive-item;
      background-color: $bottom-bg;

      float: right;
      display: block;
      font-weight: $strong-font;
      font-size: 11px;
      height: 20px;
      white-space: nowrap;
      line-height: 18px;
      margin: 0 auto;
      min-width: 60px;
      &:hover {
        background-color: $bottom-bg-hover;
      }
    }
  }
}
