.datepicker-plot-area {
  .toolbox {
    display: block;
    float: left;
    width: 100%;
    margin-top: $gridGutter;

    .pwt-btn-submit,
    .pwt-btn-exit,
    .pwt-btn-calendar,
    .pwt-btn-today {
      @extend %interactive-item;
      background-color: $button-bg;
      float: right;
      display: block;
      font-weight: $strong-font;
      font-size: 11px;
      height: 24px;
      line-height: 24px;
      white-space: nowrap;
      margin: 0 auto;
      margin-left: $gridGutter;
      padding: 0 $gridGutter;
      min-width: 50px;
      &:hover {
        background-color: $button-bg-hover;
      }
    }

    .pwt-btn-exit {
      display: none;
    }

  }
}
