.datepicker-plot-area {
  .toolbox {
    display: block;
    float: left;
    width: 100%;
    margin-top: $grid-gutter;

    .pwt-btn-submit,
    .pwt-btn-calendar,
    .pwt-btn-today {
      @extend %interactive-item;
      background-color: $button-bg;
      float: right;
      display: block;
      font-weight: $strong-font;
      font-size: 11px;
      height: 24px;
      line-height: 24px;
      white-space: nowrap;
      margin: 0 auto;
      margin-left: $grid-gutter;
      padding: 0 $grid-gutter;
      min-width: 50px;

      &:hover {
        background-color: $button-bg-hover;
      }
    }

  }
}
